<p id="notice"><%= notice %></p>

<h1>Itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Lat1</th>
      <th>Lon1</th>
      <th>Lat2</th>
      <th>Lon2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= itinerary.lat1 %></td>
        <td><%= itinerary.lon1 %></td>
        <td><%= itinerary.lat2 %></td>
        <td><%= itinerary.lon2 %></td>
        <td><%= link_to 'Show', itinerary %></td>
        <td><%= link_to 'Edit', edit_itinerary_path(itinerary) %></td>
        <td><%= link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary', new_itinerary_path %>
