<p id="notice"><%= notice %></p>

<p>
  <strong>Lat1:</strong>
  <%= @itinerary.lat1 %>
</p>

<p>
  <strong>Lon1:</strong>
  <%= @itinerary.lon1 %>
</p>

<p>
  <strong>Lat2:</strong>
  <%= @itinerary.lat2 %>
</p>

<p>
  <strong>Lon2:</strong>
  <%= @itinerary.lon2 %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
